@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 1.6rem;
  box-sizing: border-box;
  margin: 0;
}

.nav {
  margin: 0 auto;
}

/*///////////////////////// Header //////////////////////// */
.logo h3 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 4.6rem;
  margin: 3rem 0px 2.6rem 104px;
}
.nav-title {
  font-family: Roboto;
  text-decoration: none;
  color: #1a1b22;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4;
}
.nav-menu {
  display: flex;
  margin: 0;
}
.menu-icon {
  display: none;
}
/*////////////////////////// Menu //////////////////////////////*/

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
  align-items: center;
}

.promo {
  max-width: 123.2rem;
  margin: 0 auto;
}
.sec-main {
  display: flex;
  background-color: #f5f6f7;
  margin: 0;
  margin-top: 5.6rem;
  padding: 6.2rem 0;
}
.main {
  display: flex;
  flex-direction: row;
  max-width: 123.2rem;
  margin: 0 auto;
  flex-wrap: wrap;
}
.card {
  width: 400px;
  height: 576px;
  border-radius: 16px;
  position: relative;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 1.6rem;
}
.card-2,
.card-5 {
  margin: 0 1.6rem;
}

/* not mine */

.nav-list {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-list:last-child {
  border-bottom: 1px solid black;
}

.nav-title {
  display: inline;
  margin-right: 34px;
  list-style-type: none;
  font-size: 18px;
  padding-top: 1.9rem;
  padding-bottom: 1.3rem;
}
.nav-title:hover,
.nav-title:active {
  border-bottom: 1px solid #1a1b22;
}
.nav-title:last-of-type {
  margin-right: -76px;
}

.btn {
  height: 48px;
  width: 112px;
  border: 1px solid #1a1b22;
  background-color: white;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 12px 37px 12px 19px;
  font-size: 18px;
  cursor: pointer;
}

.btn-entry {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0px 12px 19px;
  margin: 1.9rem 10.4rem 1.3rem;
}

.btn-entry p {
  margin: 0;
}

.btn-entry img {
  padding-right: 15px;
}

/*///////////////////////// Promo ///////////////////////////*/

.promo-title h1 {
  width: 530px;
}

.keywords {
  width: 712px;
  margin: 0;
}

.promo-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.5em;
  color: rgba(26, 27, 34, 0.5);
  margin-top: 4rem;
  margin-bottom: 2.8rem;
}

.promo-title h1 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5em;
  line-height: 46px;
  color: #1a1b22;
  margin-bottom: 3rem;
}

.promo-title p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.5em;
  color: #1a1b22;
}

/*///////////////////////// Cards ///////////////////////////////*/

/*///////////////////////// Image & Buttons Cards ///////////////////////*/

.picture img {
  max-width: 100%;
  border-radius: 16px 16px 0px 0px;
}

.active-btn-flex {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 24px;
  top: 24px;
  right: 24px;
}

.key-word {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  background: #ffffff;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875em;
  line-height: 2.4rem;
  text-align: center;
  color: #000000;
}

.active-btn-flex-inner {
  display: flex;
}

.delete-card {
  background: #ffffff;
  border-radius: 10px;
  height: 40px;
  width: 159px;
  margin-right: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 0.875em;
  display: none;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.delete-card-flag {
  display: flex;
}

.trash {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.trash:active,
.trash:visited {
}

.card-date {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.5em;
  color: #b6bcbf;
  margin-top: 12px;
}

/*/////////////////////////// Text Cards //////////////////////////*/

.text {
  height: 304px;
  margin-left: 24px;
  margin-right: 24px;
}

.text h2 {
  margin-bottom: 16px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
}
.h2-mobile {
  display: none;
}
.text-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.375em;
  color: #1a1b22;
}
.mob {
  display: none;
}

.tag {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  position: absolute;
  margin: 0;
  bottom: 24px;
  left: 24px;
}

/*//////////////////////////// Footer ////////////////////////////*/

.copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.375em;
  color: #b6bcbf;
  margin: 0;
  margin-top: 3.2rem;
  margin-bottom: 2.6rem;
}
.copyright p {
  margin: 0;
}
.social-web {
  display: inline;
}

/**footer**/
.footer {
  max-width: 123.2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-nav-list {
  display: flex;
  justify-content: space-around;
}
.footer-menu {
  display: flex;
  align-items: center;
}
.footer-menu li {
  margin-left: 2.7rem;
}
.footer-menu:last-of-type {
  margin-right: 2.7rem;
}
.footer-menu a {
  font-family: Roboto;
  text-decoration: none;
  color: #1a1b22;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
}
.icon {
  font-family: Roboto;
  text-decoration: none;
  color: #1a1b22;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  margin-right: 2.4rem;
}
@media (max-width: 32rem) {
  .sec-main {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 3.2rem;
    margin-bottom: 0;
    padding-top: 1.6rem;
    padding-bottom: 2.4rem;
  }
  .logo h3 {
    margin: 1.6rem;
    line-height: 3.4rem;
  }
  .nav-menu {
    display: none;
  }

  .card {
    width: 288px;
    height: 440px;
    border-radius: 16px;
    position: relative;
    padding: 0;
    background-color: rgba(255, 255, 255, 1);
    margin: 1.6rem 1.6rem 0 1.6rem;
  }
  .card-2,
  .card-5 {
    margin-bottom: 0 1rem;
  }
  .promo-title h1 {
    margin: 1.6rem 0;
    font-size: 3rem;
    width: 28.8rem;
    height: 10.2rem;
    padding: 0;
    line-height: 3.4rem;
  }
  .promo-title p:first-of-type {
    width: 28.8rem;
    font-size: 1.2rem;
    margin-top: 8px;
    margin-bottom: 0;
  }

  .keywords {
    font-size: 1.8rem;
    width: 28.8rem;
  }

  .promo {
    max-width: 32rem;
    margin: 0 auto;
    margin-left: 1.6rem;
  }
  .menu-icon {
    display: flex;
    margin-right: 1.6rem;
  }
  /*footer*/
  .footer {
    max-width: 320rem;
    flex-direction: column-reverse;
    padding: 0;
    margin: 1.6rem;
    margin-top: 0;
    font-size: 1.8rem;
  }
  .footer-nav-list {
    width: 20rem;
    height: 7.2rem;
  }
  .icon {
    margin-top: 0;
    margin-bottom: 2.2rem;
    margin-left: 1rem;
  }
  .icon:last-of-type {
    margin-right: 0;
  }
  .copyright {
    margin: 2.2rem 0 2.2rem 0;
    font-size: 1.6rem;
    line-height: 6px;
  }
  .footer-nav-list {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .footer-menu li {
    margin: 0;
  }

  .footer-menu {
    margin-right: 0;
  }
  .footer-menu:last-of-type {
    margin-right: 0;
  }

  /*elements above image*/
  .active-btn-flex {
    left: 16px;
    top: 16px;
    right: 16px;
  }

  .active-btn-flex-inner {
    display: flex;
  }

  .delete-card-flag {
    display: none;
  }
  h2 {
    margin: 1rem 0;
    height: 5.2rem;
    size: 2rem;
    line-height: 2.6rem;
  }
  .card-date {
    margin: 1.6rem 1.6rem 0 0;
    height: 2.4rem;
  }
  .text {
    margin: 0 1.6rem 8px 1.6rem;
  }
  .card {
    overflow: hidden;
  }
  h2 {
    display: none;
  }
  .text-info {
    display: none;
    line-height: 1.375em;
    color: #1a1b22;
  }
  .mob {
    display: flex;
    margin-top: 0;
  }

  .tag {
    bottom: 16px;
    left: 16px;
  }

  .h2-mobile {
    display: flex;
    margin-bottom: 0;
  }
}
/*//////////////////////////// @media //////////////////////////////*/
